// flex 布局，水平垂直居中
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$cell-height: 64px;
$cell-width: 64px;

.background-one {
  background-color: transparent;
}

.background-two {
  background-color: #f0f0f0;
}

$colors: (
  #f2777a,
  #f99157,
  #fc6,
  #9c9,
  #6cc,
  #69c,
  #c9c,
  #d27b53
);

@mixin color($color) {
  border-color: darken($color, 20%);
  color: darken($color, 40%);
  background-color: $color;

  &:hover,
  &.hover {
    background-color: darken($color, 10%);
  }
}

$index: 0;

@each $color in $colors {
  .color-#{$index} {
    @include color($color);
  }

  $index: $index + 1; /* stylelint-disable-line order/order */
}