@import './config.scss';

@mixin elevation ($dp) {
    @if $dp==0 {
        box-shadow: none
    }
    @else if $dp==1 {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .20)
    }
    @else if $dp==2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .20)
    }
    @else if $dp==3 {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .20)
    }
    @else if $dp==4 {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .20)
    }
    @else if $dp==6 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .20)
    }
    @else if $dp==8 {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .20)
    }
    @else if $dp==9 {
        box-shadow: 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12), 0 5px 6px -3px rgba(0, 0, 0, .20)
    }
    @else if $dp==12 {
        box-shadow: 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12), 0 7px 8px -4px rgba(0, 0, 0, .20)
    }
    @else if $dp==16 {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .20)
    }
    @else if $dp==24 {
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12), 0 11px 15px -7px rgba(0, 0, 0, .20)
    }
}

@mixin button-base {
    /* Always use font-size to control the size of button */
    /* font-size: default; */

    $inner-spacing: $small-spacing;

    //font-size: 1em;
    border-radius: .3em;

    letter-spacing: 0.08em;
    line-height: 1em;

    position: relative;
    display: inline-flex;
    align-items: center;
    //justify-content: center;
    vertical-align: middle;

    background-color: transparent; 
    border: none;
    outline: none;

    cursor: pointer;
    text-decoration: none;

    user-select: none;
    -moz-user-select: none;
    

    &::-moz-focus-inner {border: 0;}

    //Align elements inside the button, a subtle different
    padding: $inner-spacing  $inner-spacing*1.4;
    & > * { margin-right: $inner-spacing; }
    & > *:last-child { margin-right: 0;}

    //Normalize the icon
    & > * { font-size: 1em;}

    &::after, &::before {
        content: "";
        border-radius: inherit;
        border: 1px solid currentColor;

        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    //background
    &::before {
        background-color: currentColor;
        z-index: 1;
        opacity: 0.04;
        transition: all .3s;
    }
    &:hover::before { opacity: .08; }
    &:active::before { opacity: .16;}
    //border
    &::after {
        opacity: $divider-opacity;
    }

    &:disabled { opacity: $disabled-opacity; pointer-events: none;}

}

button.light {

    @include button-base;
    @include no-select;
    color: rgba($primary-color, $high-emphasis-opacity);
}



button.text {

    @include button-base;
    @include no-select;

    //Customization
    color: rgba($primary-color, $high-emphasis-opacity);

    //Remove boreder and background
    &::before, &::after { opacity: 0; }

    &:hover::before { opacity: .04; }
    &:active::before { opacity: .12; }

}

button.outlined {

    @include button-base;
    @include no-select;

    //Customization
    color: rgba($primary-color, $high-emphasis-opacity);

    //Remove background
    &::before { opacity: 0; }

    &:hover::before { opacity: .04; }
    &:active::before { opacity: .12; }
}

button.contained {

    @include button-base;
    @include no-select;

    //Customization
    color: $on-primary-color;
    background-color: $primary-color;

    //Remove boreder and background
    &::before, &::after { opacity: 0; }
    &::before { width: 100%; height: 100%;}

    @include elevation(2);
    
    &:active { @include elevation(4);}
}

button.icon {

    @include button-base;
    @include no-select;
    padding: $small-spacing;
    border-radius: 50%;

    &::before, &::after { opacity: 0; }
    &::before { 
        border-radius: 50%;
        //width: 1em+2*$small-spacing;
        //height: 1em+2*$small-spacing;
    }

    //Customization
    color: rgba($on-surface-color, $high-emphasis-opacity);

}
span.icon {
    //Customization
    color: rgba($on-surface-color, $high-emphasis-opacity);
    //font-size: 1em;

    @include no-select;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    > a {
        &:hover {
            opacity: $inactive-opacity;
        }
    }
}
a.icon {
    color: rgba($on-surface-color, $high-emphasis-opacity);
    //font-size: 1em;

    @include no-select;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
        opacity: $inactive-opacity;
    }
}

