//Responsive
$break-width: 50rem;
$main-width: 65rem;

$spacing-unit: 3rem;
$dp: 1px;

$active-opacity: .8;
$inactive-opacity: .6;
$disabled-opacity: .38;
$divider-opacity: .12;

$small-spacing: 0.6em;//inner component should be em
$medium-spacing: 1rem;//inter component
$large-spacing: 4rem;//inter view


$primary-color: #3f51b5;
